[dropdown*="drop"]{
    display: none;
    position: absolute;
    padding: .5em 0;
    height: fit-content;
    width: fit-content;
    background-color: #fff;
    box-shadow: -2px 2px 4px 1px rgba(0, 0, 0, 0.19),
    0px 0px 0px 1px rgba(0, 0, 0, 0.08);
    &>*{
        padding: .5em 1em;
        white-space: nowrap;
        display: block;
        &:hover{
            background-color: darken(#fff, 5);
        }
    }
}
.t-action-dropdown{
    top: 100%;
    right: 1em;
    z-index: 999;
}